body {
    background-color: bisque;
    margin: 0;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc-container {
    background-color: gray;
    height: 100dvh;
    width: 62.5dvh;
    max-height: 160dvw;
    max-width: 100dvw;
}

.button-row {
    background-color: aliceblue;
    border: 1px solid;
    border-color:aqua;
}