body {
    background-color: bisque;
    margin: 0;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc-container {
    background-color: gray;
    height: 100dvh;
    width: 62.5dvh;
    max-height: 160dvw;
    max-width: 100dvw;
    display: flex;
    flex-direction: column;
}

.button-row {
    background-color: white;
    border: 5px solid;
    border-color:gray;
    flex-grow: 1;
    display: flex;
    overflow: auto;
}

.pad {
    flex: 1 1 100%;
    font-size: 40px;
}

.num {
    background-color:lightgrey;
}

.operator {
    background-color: aquamarine;
}

.clear,
.back {
    background-color: lightcoral;
}

.decimal,
.reuse,
.invert {
    background-color: lightblue;
}

.compute {
    background: lightpink;
}

.display {
    flex: 1 1 100%;
    font-size: 40px;
    align-self: center;
    text-align: right;
}